body{
   text-align: center;
}
.btn{
  border: solid 3px black;
  width: 100px;
  height: 100px;
  display: inline;
  font-size: 30px;
  color: #5e4400;
  background-color: #ffe194;
}
h1{
  color: red;
}
h2{
  color: green;
}